@import "~src/base.scss";

.Background {
  background: $black_color;
  width: 0;
}

.Text {
  position: absolute;
  top: 90px;
  left: 70px;
  color: white;
  font-size: 48px;
  font-weight: 700;
  width: max-content;
}

.TextItem {
  margin-bottom: 10px;
  opacity: 0;
}

